if SHIELD_SPLIT_KEYBOARD_1X1_LEFT

config ZMK_KEYBOARD_NAME
    default "Split 1x1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLIT_KEYBOARD_1X1_LEFT || SHIELD_SPLIT_KEYBOARD_1X1_RIGHT

config ZMK_SPLIT
    default y

endif
