// See https://zmk.dev/docs/development/hardware-integration/physical-layouts
// for how to configure this.

#include <physical_layouts.dtsi>

/ {
    layouts {
        // Parent wrapper node should NOT have compatible or display-name strings
        
        physical_layout0: physical_layout_0 {
            compatible = "zmk,physical-layout-grid";
            display-name = "Default Layout";

            matrix-columns = <1>;
            matrix-rows = <1>;

            // Standard ZMK grid layout positional property format
            keys = <
                &key_physical_attrs 100 100 0 0 0 0 0
            >;
        };
    };
};
